footer{
  background: #151515;
  padding: 4em 4em;
  min-height: 15em;
  direction: rtl;
  display: flex;
  clip-path: url(#clip);
}

@media screen and (max-width: 700px) {
  .h-divider{
    display: none;
  } 

  footer{
    padding: 6em 2em 8em 1em;
    min-height: 20em;
  }

  .footer-info{
    flex-direction: column;
  }

  .footer-section{
    padding: 0 0 1em 0;
  }
}

.footer-info {
  display: flex;
  height: max-content;
}

.footer-section>div{
  opacity: 0.9;
  font-weight: 500;
  margin: 0.25em;
  color: #fff;
}

.footer-section>div:first-child{
  opacity: 0.6;
  font-size: 1.05em;
  margin-bottom: 0.5em;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

.h-divider {
  width: 0.15em;
  margin: 1.5em 1.5em 0em 1.5em;
  border-radius: 1em;
  opacity: 0.5;
  background: #f0f0f0;

}

.h-divier::before {
  content: " ";
}

.footer-info {
  display: flex;
}

.footer-logos {
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logos img {
    width: calc(1em + 0.5vw);
    height: auto;
}

.footer-logos a {
    margin: 0.5em 0.5em;
}

.footer-logos div {
    display: flex;
    justify-content: center;
}

.main-logo {
    width: calc(7em + 5vw)!important;
    margin: 0!important;
}