
.add-product-form {
    display: flex;
    flex-direction: column;
    margin: 4rem auto 0 auto;
    padding: 1em;
    border-radius: 0.75rem;
    direction: rtl;
    max-width: 40em;
    width: 80vw;
    color: var(--text);
    /* box-shadow: 0 0 1em var(--shadow); */
    background: var(--container);
}

.add-product-section-title{
    font-size: 0.9em;
    margin: 0 0.2em 0.25em 0;
    font-weight: 500;
}

.baka-dropdown {
    font-size: 0.9em;
}