.add-product-main-title{
    font-weight: 550;
    font-size: 1.3em;
    width: 80vw;
    max-width: 40rem;
    padding: 0 1em;
    margin: 0 auto;
    direction: rtl;
    color: var(--text);
}

.add-product-form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto 4rem auto;
    padding: 1em;
    border-radius: 0.75rem;
    direction: rtl;
    max-width: 40rem;
    width: 80vw;
    color: var(--text);
    /* box-shadow: 0 0 1em var(--shadow); */
    background: var(--container);
}

.add-product-section-title{
    font-size: 0.9em;
    margin: 0 0.2em 0.25em 0;
    font-weight: 500;
}

.baka-dropdown {
    font-size: 0.9em;
}

.baka-file-input {
    background: var(--on-container);
    position: relative;
    /* width: calc(100%); */
    /* width: max-content; */
    /* padding: 2em 0; */
    border-radius: 1em;
    cursor: pointer;
    font-weight: 500;
}

.baka-file-input>div{
    padding: 1em;
    opacity: 0.7;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.baka-file-input>div>img{
    width: 1.2em;
    height: 1.2em;
    filter: invert(var(--invert));
    opacity: 0.9;
}

.baka-file-input>img{
    display: block;
    margin: 0 auto;
    width: 10em;
    height: 10;
    object-fit: contain;
    border-radius: 1em;
}

.baka-file-input input{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.add-product-submit {
    background: var(--text);
    color: var(--background);
    padding: 0.5em 1.5em;
    font-size: 0.95em;
    font-weight: 500;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.add-product-submit:hover{
    opacity: 0.9;
}