.cart-content {
    width: 68vw;
    padding: 1.5em 1.5em;
    background: #f0f0f0;
    border-radius: 1em;
    margin: 1em auto;
    overflow: visible visible !important;
    height: fit-content;
}

.cart-content-title {
    width: 100%;
    direction: rtl;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    font-weight: 500;
}

.cart-sections {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: visible;
}

.cart-sections>div {
    margin-top: 1.25em
}

.cart-sections>div:first-child {
    margin-left: 5%;
}

.cart-purchase-preview {
    /* width: 50%; */
    flex: 1;
    overflow: visible;
    font-weight: 500;
}

.cart-purchase-preview>div:first-child {
    direction: rtl;
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
    padding: 1em;
    border-radius: 1em;
}

.delivery-select {
    position: relative;
    background: #d0d0d0;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin: 1em 0;
    display: flex;
    cursor: pointer;
    transition: background 0.5s ease;
}

.delivery-no-fee {
    animation: flashNoFee 1s ease;
}

.delivery-fee {
    animation: flashFee 1s ease;
}

@keyframes flashFee {
    0% {
        background: #d0d0d0;
    }

    50% {
        background: #d09f9f;
    }

    100% {
        background: #d0d0d0;
    }
}

@keyframes flashNoFee {
    0% {
        background: #d0d0d0;
    }

    50% {
        background: #c0d09f;
    }

    100% {
        background: #d0d0d0;
    }

}

.delivery-select.opened {
    background: #c0c0c0;
}

.delivery-select>div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
}

.delivery-select svg {
    display: inline-block;
    margin: 0 auto 0 0em;
    will-change: transform;
    transition: transform 0.5s ease;
    transform-origin: center;
}

.delivery-select span {
    margin: 0 0 0 0.5em;
}

.delivery-select-options {
    cursor: auto;
    display: none;
    top: calc(100% + 0.5em);
    position: absolute;
    right: 0;
    /* overflow-y: scroll; */
    width: calc(100% - 0.5em);
    padding: 0.25em 0.25em;
    border-radius: 1em;
    background: #d5d5d5;
}

.delivery-select-options.opened {
    display: block;
}

.delivery-type {
    margin: 0.4em 0.5em 0.4em 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.delivery-type.selected {
    background: #e0e0e0;
}

.delivery-type span {
    display: inline-block;
    font-weight: 500;
}

.delivery-type:hover {
    background: #e9e9e9;
}

.delivery-type span:nth-child(3) {
    font-size: 0.9em;
    opacity: 0.7;
}

.cart-purchase-summary {
    margin: 0.5em 0;
}

.cart-purchase-summary span {
    display: inline-block;
}

.cart-purchase-summary span:last-child {
    margin-right: auto;
}

.cart-purchase-summary div {
    display: flex;
    margin: 0.1em 1em;
}

.divider {
    height: 1.25pt;
    border-radius: 1em;
    margin: 0.5em !important;
    background: #000;
}

.cart-final-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0e0e0;
    padding: 1em 1.25em;
    border-radius: 1em;
    margin: 1em 0;
}

.cart-proceed-pay {
    color: #fff;
    padding: 0.75em 5em;
    border-radius: 1.5em;
    display: block;
    text-decoration: none;
    width: 10em;
    margin: 0 auto;
    text-align: center;
    background: #000;
}

.cart-products {
    direction: ltr;
    /* height: 100%; */
    flex: 1;
}

.cart-products>div:first-child {
    display: flex;
    padding-right: 0.5em;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    border-radius: 1em;
    max-height: 20em;
}

.cart-print {
    direction: rtl;
    font-size: 0.9em;
    display: flex;
    background: #dedede;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    width: 10em;
    white-space: nowrap;
}

.cart-print:hover {
    filter: brightness(90%);
}

.cart-print img {
    margin-right: auto;
    width: 1.1em;
    height: 1.1em;
}


@media print {

    html,
    body {
        height: unset;
        width: unset;
    }

    .nav {
        display: none;
    }

    .page-content {
        margin-top: 1em;
    }

    .page-title {
        margin-right: 0em;
    }

    .return-button {
        display: none;
    }

    .cart-print {
        display: none;
    }

    .cart-content {
        margin: 0 !important;
        direction: rtl;
        width: unset;
        padding: 0;
        padding: 1em;
        overflow: unset;
    }

    .cart-sections {
        display: block;
    }

    .cart-products>div:first-child {
        height: fit-content;
        max-height: none;
        padding: 1em;
        overflow: unset;
        padding: 0;
    }

    .delivery-select {
        display: none;
    }

    .product-preview-count {
        display: none;
    }

    .cart-sheet-product-head {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row !important;
    }

    .cart-sheet-product>div:nth-child(2),
    .cart-sheet-product>div:nth-child(3) {
        display: none;
    }

    .cart-proceed-pay {
        display: none;
    }
}