@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --text: #000;
  --nav: #fffffff1;
  --nav: #fff;
  --nav-menu: #f0f0f0;
  --nav-menu: #fff;
  --container: #f0f0f0;
  --container: #fff;
  --container-hover: #000;
  --on-container: #e0e0e0;
  --on-container: #eeeeee;
  --sub-container: #c9c9c9;
  --sub-container-hover: #d0d0d0;
  --background: #fff;
  --invert: 0;
  --shadow: #90909052;
  --fee: #d09f9f;
  --no-fee: #c0d09f;
  --secondary: #000;
  --tint: #ff3b69;
  --tint: #ff4f78;
  --tint: #e93a63;
  /* --tint-v2: #b32060; */
  --tint-v2: #ff6282;
  --tint-grad: #ff98b0;
  --tint-varient: #ffe2f0;
  --tint-background: #fff5f9;
  --varient: #ffd365;
  /* --tint-background: #fff7fa; */
}

.dark-theme {
  --text: #d0d0d0;
  --container: #1a1a1a;
  --background: #0c0c0c;
  --nav-menu-list: #151515;
  --nav: #111;
  --nav-menu: #222;
  --on-container: #303030;
  --on-container: #242424;
  --shadow: #00000083;
  --invert: 100%;
  --sub-container: #2a2a2a;
  --sub-container: #2e2e2e;
  --sub-container-hover: #3c3c3c;
  --sub-container-hover: #353535;
  --secondary: #b2b2b2;
  --container: #1d1c1c;
  --fee: #3c2323;
  --no-fee: #29352b;
  --tint-background: #000000;
  --tint-varient: #1d191b;
  --tint: #881a33;
  --tint-v2: #360512;
  --tint-grad: #9b2d47;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  :root {
    --nav-menu: #f0f0f0e0;
    --nav-menu: #fffffff1;
    --nav-menu-list: #f9f9f9;
  }

  .dark-theme {
    --nav: #111111f6;
    --nav-menu: #222222e3;
    --nav-menu: #111111e7;
  }
}

html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  height: 0;
  background: var(--tint-background);
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* background: var(--background); */
  background: var(--tint-background);
}

.nav {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  right: 0;
}

.page-content {
  min-height: 100vh;
  margin-top: 10rem;
}

.page-title {
  color: var(--text);
  direction: rtl;
  margin-right: 15vw;
  font-size: 1.5em;
  font-weight: 600;
}

.nav > div:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 1em 1em 0.75em 1em;
  background: var(--nav);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 4;
  /* width: 100%; */
}

.sections-menu {
  background: var(--nav-menu);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: hidden;
  justify-content: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  padding: 1em 0 1em 1em;
  font-size: 0.8em;
  overflow: visible;
  /* box-shadow: 0 0.2em 1em var(--on-container); */
  box-shadow: 0 0 0.5em var(--tint-varient);
}

.sections-menu::after {
  content: ".";
  color: transparent;
  position: relative;
  display: block !important;
  /* width: 10rem !important; */
}

.sections-menu::-webkit-scrollbar {
  height: 0;
}

.sections-menu a {
  text-decoration: none;
  color: var(--text);
}

.sections-menu-item {
  position: relative;
  /* padding: 0 0.5em; */
  margin: 0 1rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  /* overflow: hidden; */
}

.sections-menu-item-arrow {
  display: none;
}

div.sections-menu-item:nth-child(1) {
  /* margin: 0 3rem 0 1rem; */
}

div.sections-menu-item:nth-last-child(1) {
  /* margin: 0 1rem 0 3rem; */
}

.sections-menu-item::before {
  content: " ";
  display: block;
  position: absolute;
  top: 100%;
  left: 5%;
  width: 90%;
  height: 0.3em;
  background: #f43672;
  transform: scaleX(0);
  border-radius: 1em;
  transform-origin: right;
  transition: transform 0.5s ease;
  will-change: transform;
}

.sections-menu-item {
  /* background-color: red; */
  overflow: visible;
}

.sections-menu-item > div {
  position: fixed;
  width: 100vw;
  right: 0;
  border-radius: 0;
  /* margin-top: -0.1rem; */
  transform-origin: right;
  /* background: pink; */
  clip-path: inset(0% 0% 100% 0%);
  transition: clip-path 0.5s ease;
  will-change: clip-path;
  direction: rtl;
  flex-direction: row-reverse;
  cursor: auto;
}

.sections-menu-list a {
  /* box-shadow: 0 1em 1em #000; */
  display: block;
  margin: 0.25rem 1rem 0.5rem 1rem;
  transform-origin: right;
  font-weight: 450;
  appearance: none;
  text-decoration: none;
  color: var(--text);
  position: relative;
}

.sections-menu-list a::after {
  content: " ";
  display: block;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 0.2em;
  top: 100%;
  background: #f43672;
  border-radius: 1em;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: right;
}

.sections-menu-list a:nth-child(1) {
  /* margin-right: 3rem; */
}

.sections-menu-list span {
  display: block;
  margin: 1rem 3rem 0 auto;
  font-size: 1.25em;
}

.sections-menu-list > div {
  margin-top: 1em;
  padding-top: 0.1em;
  color: var(--text);
  background: var(--nav-menu-list);
}

.sections-menu-list-subs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 2rem;
  /* margin-bottom: 1rem; */
  padding-bottom: 1em;
}

/* .sections-menu-list div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-bottom: 1rem;
} */

#logo {
  position: absolute;
  right: 1em;
  top: 1em;
  width: calc(6em + 1vw);
  filter: invert(var(--invert));
}

.search-input {
  display: flex;
  align-items: center;
  /* background: var(--container); */
  background: var(--on-container);
  height: 2em;
  border-radius: 1.5em;
  padding: 0 0.65em;
  /* margin: 0 1em; */
  margin: 0 auto 0 auto;
}

.search-input img {
  width: 1.25em;
  opacity: 0.4;
  height: 1.25em;
  filter: invert(var(--invert));
}

.search-input input {
  display: block;
  text-align: right;
  appearance: none;
  direction: rtl;
  border: none;
  color: var(--text);
  font-size: 0.8em;
  align-self: stretch;
  background: none;
  outline: none;
  padding-right: 0.3em;
  font-weight: 500;
  /* width: 6em; */
  width: 15vw;
  will-change: width;
  transition: width 0.5s ease;
}

.search-input {
  opacity: 0.8;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 4;
}

.search-input:focus-within {
  opacity: 1;
}

.search-input:focus-within img {
  opacity: 0.7;
}

.search-input input:focus {
  width: 10em;
  width: calc(25vw + 1em);
}

.search-results {
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 1em);
  right: 0;
  padding: 1em;
  min-width: 100%;
  background: var(--container);
  color: var(--text);
  z-index: 4;
  border-radius: 1em;
  box-shadow: 0 0 0.5em var(--shadow);
  font-size: 0.9em;
  direction: rtl;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.search-results > div:first-child {
  margin-bottom: 0.5em;
}

.search-input:focus-within > div:last-child {
  display: flex;
}

.search-result {
  margin: 0 0.25em 0.75em 0.25em;
  color: var(--text);
  text-decoration: none;
}

.search-result-content {
  display: flex;
  width: fit-content;
  white-space: nowrap;
  padding: 0.75em 1em 0.75em 1.25em;
  background: var(--on-container);
  border-radius: 0.75em;
}

.search-result-content > div:first-child {
  width: 2.75em;
  height: 2.75em;
  align-self: center;
  background: #d0d0d0;
  margin-left: 1em;
  border-radius: 0.25em;
}

.search-result-content span {
  display: block;
}

.search-result-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-results-more {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  font-weight: 550;
  margin: 0.4em auto 0 0;
}

.search-results-more svg {
  width: 1em;
  height: 1em;
  margin: 0.1em 0.2em 0 0;
  vertical-align: middle;
}

.search-results-more path {
  stroke-width: 14 !important;
}

.menu-toggle-button {
  /* display: flex; */
  display: none;
  align-items: center;
  cursor: pointer;
  width: 18px;
  height: 14px;
  /* background: red; */
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle-button > div {
  height: 2px;
  width: 100%;
  background: var(--text);
  transform-origin: 50% 50%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-toggle-button:hover div:nth-child(1) {
  transform: translateY(12px);
}

.menu-toggle-button:hover div:nth-child(3) {
  transform: translateY(-12px);
}

.bag {
  /* margin: 0 auto 0 1em; */
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  color: var(--text);
}

.bag div {
  font-size: 0.7em;
}

.bag img {
  /* opacity: 0; */
  /* filter: brightness(100%); */
  filter: invert(var(--invert)) brightness(80%);
  animation: fadeOutIn 1s ease forwards;
  width: 1.15em;
}

@keyframes fadeOutIn {
  0% {
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInOut {
  0% {
  }

  40% {
    opacity: 0;
    transform: translateY(-4px);
  }

  40.1% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: 0;
  }
}

@keyframes phaseInOut {
  0% {
  }

  10% {
    transform: rotateZ(-10deg) translateX(-2px);
    opacity: 1;
  }

  40% {
    transform: translateX(-40px) rotateZ(-40deg);
    opacity: 0;
  }

  40.1% {
    transform: translateX(40px) rotateZ(-40deg);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: rotateX(40deg) rotateY(0deg) scale(1);
  }

  80% {
    transform: rotateX(-20deg) rotateY(-20deg) scale(1.2);
  }

  100% {
    transform: rotate(0);
  }
}

.bag-count {
  position: absolute;
  padding: 0 0.5em;
  /* background: var(--tint-grad); */
  background: var(--tint);
  /* color: rgb(255, 130, 170); */
  color: #ffffffa8;
  left: 55%;
  bottom: 75%;
  font-weight: 550;
  /* color: #c62356; */
  /* color: var(--tint); */
  /* clip-path: circle(50%); */
  border-radius: 1em;
  animation: fadeOutIn 1s ease forwards;
  font-weight: 600;
}

.category-page {
  direction: rtl;
  min-height: 100vh;
  color: var(--text);
}

.category-title {
  font-weight: 500;
  font-size: 1.25em;
  margin-right: 3rem;
}

.sub-categories {
  display: flex;
  margin: 1rem 3rem 0 0;
}

.sub-category-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  transition: background 0.5s ease,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.8, 1.21);
  border-radius: 1.5rem;
  opacity: 0.7;
  margin: 0 0.5em;
  user-select: none;
  -webkit-user-select: none;
}

.selected.sub-category-button {
  background: var(--on-container);
  opacity: 1;
}

.sub-category-title {
  margin: 1.5rem 3.25rem;
  font-size: 1em;
  padding: 0.6em 1.5em;
  border-radius: 2em;
  background: var(--container);
  font-weight: 500;
}

.products {
  width: calc(100% - 7rem);
  min-height: 18em;
  margin: 0.5rem auto;
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
  background: var(--container);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 2em;
  animation: productsAppear 0.5s ease forwards;
  opacity: 0;
  /* clip-path: inset(0 0 100% 0); */
  transform-origin: top center;
}

@keyframes productsAppear {
  0% {
    opacity: 0;
    transform: scaleY(0);
    /* clip-path: inset(0 0 100% 0); */
  }

  100% {
    /* clip-path: inset(0 0 0 0); */
    transform: scale(1);
    opacity: 1;
  }
}

.products > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  /* max-height: 18em; */
  /* overflow-x: scroll; */
}

.products-title {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  font-weight: 500;
}

.products-title svg {
  display: block;
  margin-right: 0.25em;
}

.load-more {
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 1em;
  background: var(--on-container);
  width: fit-content;
  margin: 1em auto;
  cursor: pointer;
}

.product-container {
  text-decoration: none;
  color: var(--text);
  display: block;
  /* margin: 1em; */
  margin: 1em 0 1em 2vw;
}

.product {
  text-decoration: none;
  background: var(--on-container);
  border-radius: 1em;
  padding: 0.75em 1em;
  transition: background 0.5s ease,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.8, 1.21);
  animation: fadeIn 1s ease;
}

.product-img {
  width: 8em;
  height: 8em;
  padding: 1em;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-title {
  font-size: 0.9em;
  margin: 0.5em 0;
  text-align: center;
}

.product-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  font-weight: 500;
}

.product-add {
  background: var(--text);
  color: var(--background);
  font-size: 0.9em;
  padding: 0.3em 1.75em;
  border-radius: 1em;
  transition: color 0.5s ease, background 0.5s ease,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.8, 1.21);
}

.added.product-add {
  background: var(--sub-container-hover);
  color: var(--text);
}

.product-edit {
  background: var(--text);
  color: var(--background);
  font-size: 0.9em;
  padding: 0.3em 1.75em;
  border-radius: 1em;
  transition: color 0.5s ease, background 0.5s ease,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.8, 1.21);
}

.disabled.product-edit {
  display: none;
}

.product-preview {
  display: flex;
  background: var(--container);
  color: var(--text);
  /* padding: 1em; */
  width: 70vw;
  max-height: 40vh;
  max-height: 25vw;
  border-radius: 1em;
  overflow: hidden;
  margin: 0 auto;
  direction: rtl;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.product-preview > div:nth-of-type(2) {
  padding: 1.25em;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-preview-img {
  background: #c9c9c9;
  width: 40vh;
  /* height: 100%; */
  max-width: 25vw;
  max-height: 25vw;
  min-height: 30vh;
  /* height: 40vh; */
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.product-preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-preview-info {
  position: relative;
  margin: 0 0.5em 0 0;
  /* max-height: calc(100% - 3em); */
  /* flex: 1; */
  overflow: hidden;
}

.product-preview-info-content > div:last-child {
  padding: 0 0 1em 0;
}

.product-preview-info > div {
  font-size: 1em;
  /* background: red; */
  height: 100%;
  padding-left: 1em;
  /* max-height: calc(40vh - 4rem); */
  overflow-y: auto;
  position: relative;
}

.product-preview-info-content {
  /* overflow-y: scroll; */
}

.product-preview-info-content div:nth-child(2) {
  font-weight: 600;
}

.product-preview-info::before {
  position: absolute;
  content: " ";
  background: linear-gradient(transparent 20%, var(--container));
  bottom: 0%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1.5em;
}

.product-preview-info > div::-webkit-scrollbar {
  /* width: 0;
  height: 0;
  opacity: 0; */
  background: var(--on-container);
  border-radius: 1em;
  width: 0.5em;
  /* background: red; */
  /* background: transparent; */
}

.product-preview-info > div::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1em;
}

.product-preview-name {
  position: -webkit-sticky;
  top: 0;
  font-size: 1.2em;
  text-align: right;
  font-weight: 550;
  padding: 0 0 0.2em 0;
  /* background: linear-gradient(#f0f0f0 50%, #f0f0f081), linear-gradient(90deg, #f0f0f0, transparent, #f0f0f0); */
  background: radial-gradient(
    at bottom,
    var(--nav-menu),
    var(--container) 50%,
    var(--container)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.product-preview-info > div:nth-of-type(2) {
  font-weight: 500;
  font-size: 1.05em;
  margin: 0.1em 0;
}

.product-preview-buttons {
  justify-self: end;
  display: flex;
  /* align-items: center; */
  align-items: end;
  flex-direction: row-reverse;
  user-select: none;
  font-size: calc(1vw+0.2em);
  flex: 1;
  margin-top: 1em;
  -webkit-user-select: none;
  padding: 0 1em;
}

.product-preview-price {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 0 0 auto;
}

.product-preview-add {
  background: var(--text);
  /* background: var(--tint); */
  padding: 0.5em 1.75em;
  /* padding: 0.25em 1.75em; */
  color: var(--background);
  /* color: var(--tint); */
  color: #fff;
  /* border: 0.2em solid var(--tint); */
  font-weight: 500;
  cursor: pointer;
  font-size: 0.95em;
  border-radius: 2em;
  transition: background 0.5s ease;
  white-space: nowrap;
}

/* .product-preview-info div:nth-child(2){
  font-size: 0.9em;
} */

.product-preview-count {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  margin: 0 1em;
  border: 0.18em solid var(--text);
  color: var(--text);
  border-radius: 1.5em;
  padding: 0.2em 0.5em;
}

.product-preview-count div {
  text-align: center;
  font-weight: 600;
  width: 1em;
}

.product-preview-count div:nth-child(2) {
  width: 2em;
  text-align: center;
  align-self: center;
  font-size: 1em;
  margin: 0;
  max-width: 2em;
  max-height: 1.5em;
  height: 1.5em;
}

.product-preview-count input {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-width: none;
  color: var(--text);
  direction: ltr;
  outline: none;
  font-size: 1em;
  font-weight: 550;
  background: none;
  padding: 0;
  white-space: nowrap;
  word-wrap: nowrap;
  word-break: none;
  border: none;
  text-align: center;
}

.product-preview-count input::-webkit-inner-spin-button {
  width: 0;
  display: none;
}

.product-preview-count input::-webkit-outer-spin-button {
  width: 0;
  display: none;
}

.product-preview-count svg {
  width: 1em;
  height: 1em;
}

.product-preview-count path {
  stroke: var(--text) !important;
}

.product-preview-count div:nth-last-child(1),
.product-preview-count div:nth-child(1) {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.return-button {
  user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
  margin: 3rem auto 0rem 15vw;
  width: fit-content;
  padding: 0.2em 0.8em;
  font-size: 0.9em;
  border-radius: 1.5em;
  border: 0.18em solid var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text);
}

.return-button svg {
  margin: 0 0.25em 0 0;
  height: 1em;
}

.product-preview-location {
  width: fit-content;
  color: var(--text);
  background: var(--container);
  padding: 0.5em 1em;
  border-radius: 1.5em;
  margin: 1em 15vw 1em auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.product-preview-location div {
  display: block;
  position: relative;
  font-weight: 500;
  margin: 0 0.5em;
}

.product-preview-location div:first-child {
  margin-right: 0;
}

.product-preview-location div:last-child {
  margin-left: 0;
}

.arrow {
  /* display: inline-block; */
  /* margin: 1em; */
  height: 1em;
  transition: transform 0.5s ease;
  will-change: transform;
}

.cart-sheet {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--container);
  color: var(--text);
  min-width: 20vw;
  max-width: 100vw;
  z-index: 2;
  box-shadow: 0em 0 1em var(--shadow);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.cart-sheet-product {
  display: flex;
  padding: 0.75em;
  background: var(--on-container);
  border-radius: 1em;
  direction: rtl;
  margin-bottom: 1em;
}

.cart-sheet-product-head {
  margin-left: 2em;
}

.cart-sheet-product-head > div:first-child {
  font-weight: 500;
  margin-bottom: 0.3em;
  margin-right: 0.5em;
}

.cart-sheet-product {
  display: flex;
  align-items: center;
}

.cart-sheet-title {
  direction: rtl;
  font-weight: 500;
  padding: 0.5em 1em 1em 1em;
}

.cart-sheet-products {
  margin: 0 1em;
  padding: 0 1.5em;
  overflow-y: scroll;
  flex: 1;
}

.scrollbar::-webkit-scrollbar {
  background: var(--on-container);
  border-radius: 1em;
  width: 0.5em;
  opacity: 0.5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1em;
}

.cart-sheet-product-counter {
  display: flex;
  align-items: end;
  font-size: 0.8em;
}

.cart-sheet-product-counter > div:nth-child(2) {
  padding: 0.5em 1.5em;
  white-space: nowrap;
  border-radius: 1.5em;
  font-weight: 600;
  background: var(--sub-container);
}

.cart-sheet-product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.cart-sheet-product-image {
  background: var(--sub-container);
  margin: 0 0.5em;
  width: 2.5em;
  padding: 0.25em;
  height: 2.5em;
  border-radius: 0.5em;
}

.cart-sheet-remove-item {
  opacity: 0.6;
  margin-left: 0.5em;
  margin-right: auto;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: opacity 0.5s ease, transform 1s ease;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
}

.cart-sheet-remove-item svg {
  width: 100%;
  height: 100%;
}

.cart-sheet-remove-item path {
  stroke: var(--text) !important;
}

.no-select,
.no-select div,
.no-select span,
.no-select img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.cart-sheet-link {
  text-decoration: none;
  color: var(--background);
  padding: 0.75em 2.5em;
  font-size: 0.95em;
  border-radius: 1.5em;
  background: var(--text);
  font-weight: 550;
  /* align-self: center; */
  text-align: center;
  margin: 1em 4em 1.5em 4em;
}

.cart-sheet-amount {
  background: var(--on-container);
  background: linear-gradient(145deg, var(--tint-background), var(--tint-varient)) #f0f0f0;
  margin: 1em 3.5em 0 3.5em;
  padding: 1em 1em;
  border-radius: 0.75em;
  font-weight: 500;
  direction: rtl;
  display: flex;
  justify-content: space-between;
}

.cart-sheet-close {
  align-self: end;
  /* padding: 1em; */
  width: 1.25em;
  height: 1.25em;
  padding: 0.5em;
  margin: 0.5em 0.5em 0 0;
  cursor: pointer;
}

.cart-sheet-close svg {
  width: 100%;
  height: 100%;
}

.cart-sheet {
  transform: translateX(-150%);
  will-change: transform;
  transition: transform 0.5s ease;
  display: none;
}

/* .cart-sheet.visible {
  transform: translate(0);
} */

.sub-sub-filters {
  display: flex;
  margin: 1em 3.5rem;
}

.sub-sub-filter {
  padding: 0.5em 1.5em 0.5em 1em;
  border-radius: 1.5em;
  background: var(--secondary);
  color: var(--container);
  margin-left: 1em;
  transition: color 0.5s ease, background 0.5s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
}

.sub-sub-filter svg {
  width: 1em;
  height: 1em;
  margin-right: 1em;
  transition: transform 0.5s ease;
  will-change: transform;
}

.sub-sub-filter path {
  stroke: var(--container);
}

.toggled.sub-sub-filter {
  background: var(--container);
  color: var(--text);
}

.toggled.sub-sub-filter path {
  stroke: var(--text);
}

@media screen and (max-width: 600px) {
  :root {
    font-size: calc(0.3rem + 2vw);
  }
}

@media screen and (min-width: 1800px) {
  :root {
    font-size: calc(0.5rem + 1vw);
  }
}

@media screen and (hover: hover) {
  .search-results:hover {
    display: flex !important;
  }

  .search-input:hover {
    opacity: 1;
  }

  .cart-sheet-remove-item:hover {
    transform: rotate(180deg);
    opacity: 1;
  }

  .product-preview-count div:nth-last-child(1):hover,
  .product-preview-count div:nth-child(1):hover {
    opacity: 0.5;
  }

  .sections-menu > div:hover::before {
    transform: scale(1);
  }

  .sections-menu-item:hover > div {
    clip-path: inset(0% 0% -20% 0%);
    box-shadow: 0 0 0.5em var(--shadow);
    overflow: visible;
  }

  .sections-menu-item:hover > div {
    clip-path: inset(0% 0% -20% 0%);
    box-shadow: 0 0 0.5em var(--shadow);
    overflow: visible;
  }

  .sections-menu-list a:hover::after {
    transform: scaleX(1);
  }

  .bag:hover img {
    animation: shake 0.5s ease, phaseInOut 1s ease 0.5s;
    perspective: 700px;
  }

  .bag:hover div.bag-count {
    animation: slideInOut 1s ease;
  }

  .sub-category-button:hover {
    background: var(--container);
    transform: scale(1.03);
    /* filter: brightness(105%); */
    opacity: 1;
  }

  .product:hover {
    background: var(--sub-container);
    transform: scale(1.02);
  }

  .product-add:hover {
    background: #555;
  }

  .product-preview-add:hover {
    background: #555;
  }
}

@media screen and (max-width: 1000px) {
  .menu-toggle-button {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .sections-menu {
    position: fixed;
    left: -40em;
    top: 3.5rem;
    z-index: 4;
    height: calc(100% - 4rem);
    padding: 1em 1em 0 1em;
    margin: 0 !important;
    width: 100%;
    max-width: 50vw;
    max-height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    align-items: stretch;
    direction: rtl;
    transition: transform 1s ease;
    transform: translateX(0);
    font-size: 0.95em;
    border-top-right-radius: 1em;
    box-shadow: 0.2em 0 0.75em var(--shadow);
  }

  .sections-menu::-webkit-scrollbar {
    background: var(--on-container);
    height: auto;
    width: 6px;
  }

  .sections-menu::-webkit-scrollbar-thumb {
    background: var(--sub-container);
    border-radius: 6px;
  }

  .visible.sections-menu {
    transition: transform 0.5s ease;
    transform: translateX(40em);
  }

  div.sections-menu-item:nth-child(1) {
    margin: 0;
  }

  div.sections-menu-item:nth-last-child(1) {
    margin: 0;
  }

  .sections-menu-item {
    margin: 0 !important;
    padding: 0.5em;
  }

  .sections-menu-item > span {
    display: flex;
    align-items: center;
  }

  .sections-menu-item-arrow {
    display: block;
    margin: 0 auto 0 0;
  }

  .sections-menu-item::before {
    display: none !important;
  }

  .sections-menu-item > div {
    position: relative;
    clip-path: none;
    background: none;
    width: unset;
  }

  .sections-menu-list {
    display: none;
    box-shadow: none !important;
    border-radius: 1em;
    background: var(--nav-menu-list) !important;
  }

  .expanded.sections-menu-list {
    display: block !important;
  }

  .sections-menu-list span {
    display: none;
  }

  .sections-menu-list > div {
    background: none;
  }

  .sections-menu-list a::after {
    background: white;
  }

  .sections-menu-list-subs {
    flex-direction: column;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0;
    box-shadow: none !important;
  }

  .category-page {
    margin-top: 0;
  }

  .page-content {
    margin-top: 5rem;
  }
}
