.main-page {
    /* margin: 3rem 3rem 0 3rem; */
    margin: 3rem 0;
    font-weight: 500;
    color: var(--text);
}

.bubble {
    height: 100vh;
    width: 100%;
    /* background: red; */
    position: relative;
    margin: 5em 0 10em 0;
}

.bubble-container {
    height: 100%;
    right: 0;
    /* background: purple; */
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    position: sticky;
}

.bubble-container>div {
    position: sticky;
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 50%;
}

.bubble-link {
    margin: 1em 0 0 0;
}

.bubble-link a {
    color: var(--text);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    background: var(--on-container);
    font-size: 0.8em;
    font-weight: 550;
}

.bubble-link svg{
    margin-right: 0.2em;
}

.bubble-content {
    font-size: 1.25em;
    padding: 1.25em;
    border-radius: 1.5em;
    width: fit-content;
    background: var(--container);
    min-width: 30vw;
    min-height: 7em;
    display: flex;
}

.bubble-content>div:first-of-type{
    display: flex;
    max-width: 10em;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.location-display {
    background: var(--on-container);
    min-height: 100vh;
    padding: 1em;
    margin: 20rem 0 0 0;
    border-radius: 4em;
    will-change: border-radius;
}

.float {
   animation: float 10s ease forwards infinite; 
}

.float2 {
   animation: float2 10s ease forwards infinite; 
   filter: drop-shadow(0 0 5em #00000034)
}

.float3{
   animation: float3 10s ease forwards infinite; 
}

@keyframes float {
    0%{
        transform: translate(0);
    }
    25%{    
        transform: translate(20px, 10px);
    }
    50%{
        transform: translate(10px, 10px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes float2 {
    0%{
        transform: translate(0);
    }
    25%{    
        transform: translate(-10px, 10px);
    }
    50%{
        transform: translate(10px, -10px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes float3 {
    0%{
        transform: translate(0);
    }
    25%{    
        transform: translate(10px, 10px);
    }
    50%{
        transform: translate(5px, 15px);
    }
    100%{
        transform: translate(0);
    }
}