.alert-view {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #0000005c;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    text-align: center;
    will-change: -webkit-backdrop-filter, backdrop-filter;
    animation: alertViewAppear 1s ease forwards;
    font-weight: 500;
}

@keyframes alertViewAppear {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    to {
        opacity: 1;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }
}

.alert-view>div {
    background: var(--background);
    color: var(--text);
    padding: 1.25em;
    border-radius: 0.75em;
}

.alert-view-title {
    margin: 1em 0.5em;
}

.alert-view-content {
    margin: 0.5em 0.5em;
    font-size: 0.9em;
}

.alert-view-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em 0 0 0;
}

.alert-view-buttons>div {
    padding: 0.25em 1em;
    border-radius: 1.5em;
    cursor: pointer;
}

.alert-view-buttons>div:first-child {
    margin-left: 0.5em;
    border: 0.2em solid var(--text);
}

.product-preview {
  /* display: flex; */
  background: var(--container);
  color: var(--text);
  /* padding: 1em; */
  width: 70vw;
  /* max-height: 80vh; */
  /* max-height: 25vw; */
  border-radius: 1em;
  overflow: visible;
  margin: 0 auto;
  direction: rtl;
  /* flex-direction: row-reverse;
  justify-content: space-between; */
}

.product-preview>div:first-of-type {
    /* direction: ltr; */
    display: flex;
    flex-direction: row-reverse;
}

.product-preview-content{
  padding: 1.25em;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* width: 50vw; */
}

.product-preview-img {
  background: var(--img);
  /* width: 25vw; */
  /* height: 100%; */
  /* min-height: 30vh; */
  align-self: stretch;
  padding: 1em;
  /* flex: 1; */
  margin: 1.5em 0 0 1.5em;
  /* align-self: center; */
  width: 10em;
  height: 10em;
  border-radius: 1em;
  /* overflow: hidden; */
  /* align-self: stretch; */
  display: flex;
  align-items: center;
}

.product-preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-preview-info {
  position: relative;
  margin: 0 0.5em 0 0;
  /* max-height: calc(100% - 3em); */
  /* flex: 1; */
  align-self: stretch;
  /* width: 100%; */
  /* width: 50%; */
  overflow: hidden;
}

.product-preview-info-content>div:last-child {
  padding: 0 0 1em 0;
}

.product-preview-info>div {
}

.product-preview-info-content {
  font-size: 1em;
  padding-left: 1em;
  overflow-y: auto;
  position: relative;
  height: 100%;
  max-height: 40vh;
}

.product-preview-location {
  width: fit-content;
  color: var(--text);
  background: var(--container);
  padding: 0.5em 1em;
  border-radius: 1.5em;
  margin: 1em 15vw 1em auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.product-preview-location div {
  display: block;
  position: relative;
  font-weight: 500;
  margin: 0 0.5em;
}

.product-preview-location div:first-child {
  margin-right: 0;
}

.product-preview-location div:last-child {
  margin-left: 0;
}


@media screen and (max-width: 600px){
  .product-preview-location{
    margin: 1em 1em 1em auto;
  }

  .product-preview {
    flex-wrap: wrap;
    width: calc(100% - 2em);
  }

  .product-preview>div:nth-child(2) {
    font-size: calc(1.5vw + 0.5em);
  }
}

.product-preview-info-content div:nth-child(2) {
  font-weight: 600;
}

.product-preview-info::before {
  position: absolute;
  content: " ";
  background: linear-gradient(transparent 20%, var(--container));
  bottom: 0%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1.5em;
}

.product-preview-info>div::-webkit-scrollbar {
  /* width: 0;
  height: 0;
  opacity: 0; */
  background: var(--on-container);
  border-radius: 1em;
  width: 0.5em;
  /* background: red; */
  /* background: transparent; */
}

.product-preview-info>div::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1em;
}

.product-preview-name {
  position: -webkit-sticky;
  top: 0;
  font-size: 1.2em;
  text-align: right;
  font-weight: 550;
  padding: 0 0 0.2em 0;
  /* background: linear-gradient(#f0f0f0 50%, #f0f0f081), linear-gradient(90deg, #f0f0f0, transparent, #f0f0f0); */
  background: radial-gradient(at bottom,
      var(--nav-menu),
      var(--container) 50%,
      var(--container));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.product-preview-info>div:nth-of-type(2) {
  font-weight: 500;
  font-size: 1.05em;
  margin: 0.1em 0;
}

.product-preview-buttons {
  display: flex;
  /* align-items: center; */
  /* align-items: end; */
  justify-content: space-between;

  /* width: calc100%; */
  flex-direction: row-reverse;
  user-select: none;
  font-size: calc(1vw+0.2em);
  flex: 1;
  margin: 0 1em 0 0.5em;
  -webkit-user-select: none;
  padding: 0 1em 1em 1em;
  flex-wrap: wrap;
  /* direction: ltr; */
}

.product-preview-buttons>div{
  direction: ltr;
  align-items: center;
  display: flex;
}

.product-preview-price {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 0 0 auto;
}

.product-preview-add {
  background: var(--text);
  /* background: var(--tint); */
  padding: 0.5em 1.75em;
  /* padding: 0.25em 1.75em; */
  color: var(--background);
  /* color: var(--tint); */
  /* color: var(--text); */
  /* border: 0.2em solid var(--tint); */
  font-weight: 500;
  cursor: pointer;
  font-size: 0.95em;
  border-radius: 2em;
  transition: background 0.5s ease;
  white-space: nowrap;
}

/* .product-preview-info div:nth-child(2){
  font-size: 0.9em;
} */

.product-preview-count {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  margin: 0 1em;
  border: 0.18em solid var(--text);
  color: var(--text);
  border-radius: 1.5em;
  padding: 0.2em 0.5em;
}

.product-preview-count div {
  text-align: center;
  font-weight: 600;
  width: 1em;
}

.product-preview-count div:nth-child(2) {
  width: 2em;
  text-align: center;
  align-self: center;
  font-size: 1em;
  margin: 0;
  max-width: 2em;
  max-height: 1.5em;
  height: 1.5em;
}

.product-preview-count input {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-width: none;
  color: var(--text);
  direction: ltr;
  outline: none;
  font-size: 1em;
  font-weight: 550;
  background: none;
  padding: 0;
  white-space: nowrap;
  word-wrap: nowrap;
  word-break: none;
  border: none;
  text-align: center;
}

.product-preview-count input::-webkit-inner-spin-button {
  width: 0;
  display: none;
}

.product-preview-count input::-webkit-outer-spin-button {
  width: 0;
  display: none;
}

.product-preview-count svg {
  width: 1em;
  height: 1em;
}

.product-preview-count path {
  stroke: var(--text) !important;
}

.product-preview-count div:nth-last-child(1),
.product-preview-count div:nth-child(1) {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.product-preview-options{
    font-weight: 500;
    margin: 0em 0.75em 0 0.75em;
    padding: 0.5em 1em 0.25em 1em;
    border-radius: 1em;
    /* width: min-content; */
    width: calc(100% - 17em);
}

.product-options-title{
    margin: 0 0.25em 0.5em 0;
}

.product-color-title {
    font-weight: 600;
    margin-bottom: 0.65em;
    display: flex;
    align-items: center;
}

.product-color-title span:last-child{
  margin-right: 0.3em;
  opacity: 0.99;
  display: inline-block;
  /* background: var(--on-container); */
  padding: 0.25em 0.85em;
  border-radius: 1em;
  font-weight: 550;
  font-size: 0.85em;
  overflow: hidden;
  position: relative;
  color: var(--bg);
  filter: brightness(70%)
}

.product-color-title span:last-child:before{
  content: " ";
  position: absolute;
  background: var(--bg);
  opacity: 0.3;
  display: block;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.product-color-options{
    display: flex;
    margin: 0.5em 0;
    background: var(--on-container);
    padding: 0 0.75em;
    border-radius: 1em;
    width: fit-content;
    /* max-width: calc(5em); */
    flex-wrap: wrap;
}

.product-color-options div{
    width: 1em;
    height: 1em;
    margin: 0.5em 0 0.5em 0.8em;
    border-radius: 1em;
    /* filter: brightness(50%); */
    /* padding: 1em; */
    border: 2pt solid var(--on-container);
    outline: 1.75pt solid transparent;
    cursor: pointer;
    /* opacity: 0.35; */
    transition: opacity 0.5s ease;
}

.product-color-options div:last-child{
    margin-left: 0;
}

.product-color-options>div:hover{
  opacity: 1;
}

.product-color-selected{
    opacity: 1!important;
    outline: 2.5pt solid var(--text)!important;
    outline: 2.5pt solid var(--bg)!important;
    filter: brightness(100%)!important;
}

/* Image Carousel */
.baka-image-carousel {
  --w: 10em;
  --h: 10em;
  width: var(--w);
  /* background: green; */
  display: flex;
  flex-direction: column;
}

.baka-image-carousel-content {
  /* display: flex; */
  position: relative;
  background: var(--img);
  width: var(--w);
  height: var(--h);
  border-radius: 1em;
  overflow: hidden;
}

.baka-image-carousel-content img {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 1s ease;
}

.baka-image-carousel-bullets {
  direction: ltr;
  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  overflow-x: scroll;
  width: fit-content;
  max-width: 100%;
  margin: 1em auto;
  /* padding: 0.2em 1em; */
}

.baka-image-carousel-bullets::-webkit-scrollbar{
  height: 0;
}

.baka-image-carousel-bullets div{
  /* display: inline-block; */
  cursor: pointer;
  width: 100%;
  flex: 1;
  width: 0.65em;
  max-width: 0.65em;
  min-width: 0.65em;
  height: 0.65em;
  margin: 0 0.25em;
  background: #000;
  opacity: 0.25;
  border-radius: 1em;
  transform: scale(0.75);
}


.baka-image-carousel-bullets div.selected{
  opacity: 1;
  transform: none;
}